@media screen and (max-width: 375px) {
    .all-content {
        --tw-scale-x: 0.75;
        --tw-scale-y: 0.75;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
            skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}
